<footer id="footer">
  <div class="container"> 
  <div class="row">
    <div class="logo">
      <a href="/" nav-link><img src="/images/frontend/cd-logo.png" alt="Commercial Direct"></a>
      <div class="contact-detail">
        <a href="tel:18443462913">Call Us Today: 1-844-346-2913</a>
      </div>
    </div>
    <nav class="footer-nav">
     <ul>
        <li><a href="/about" nav-link> About </a></li>
		<li><a href="/advance-calculator">Customize &amp; Apply</a></li>
		<li><a href="/blog" nav-link>Blog</a></li>       
      </ul>
      <ul>
        <li><a href="/privacy" nav-link>Privacy Policy</a></li>
        <li><a href="/terms-conditions" nav-link>Terms &amp; Conditions</a></li>
      </ul>
    </nav>
	</div>
    <div class="row">
      <div class="states-list-footer">
        Silver Hill Funding, LLC does not lend in the following states: DE, ID, HI, MI, MT, ND, NV, SD, TN, VT, WV, WY
      </div>
    </div>
    <div class="row" style="color:white; border-top: 1px solid #17585e; padding-top:10px">
      <h4 style="color:white">Disclaimer <br/></h4>
      <h5 style="color:white">Silver Hill Funding, LLC is the proposed lender. Commercial Direct is a division of Silver
        Hill Funding, LLC.</h5>
      <p style="font-size: 14px;">
        The information provided herein is intended for business users only, and is not intended for use by the general
        public or individual consumers. Programs may be cancelled or modified at any time without prior notice. Programs
        may not be available in all jurisdictions. These materials are intended to provide general information to the
        reader. This information is made available with the understanding that Commercial Direct, a division of Silver
        Hill Funding, LLC, is not engaged in rendering legal, accounting, or other professional services. We use
        reasonable care in providing information but cannot guarantee accuracy or completeness. Information is provided
        with no warranty, express or implied, any and all such warranties are expressly disclaimed. We assume no
        liability for any loss, damage, or expense from errors or omissions in these materials, whether arising in
        contract, tort, or otherwise.</p>
    </div>



    <div class="row" style="color:white;     border-top: 1px solid #17585e; padding-top:10px">
      <div class="states-list-footer" style="font-size: 14px;">
        Commercial Direct is committed to providing an accessible website. If you have difficulty accessing content, have difficulty viewing a file on the website, or notice any accessibility problems, please contact us to specify the nature of the accessibility issue and the assistive technology you use. We will strive to provide the content you need in the format you require. We welcome your suggestions and comments about improving ongoing efforts to increase the accessibility of this website.
        <br> You may reach us <a href="mailto:mrueda@silverhillfunding.com">here</a>
      </div>
    </div>

    <ul class="footer-social-networks">
      <li>Social Links: </li>
      <li><a href="https://www.facebook.com/CommercialDirectLending/" target="_blank">FACEBOOK</a></li>
      <li><a href="https://twitter.com/CommDirectLoans" target="_blank">TWITTER</a></li>
      <li><a href="https://www.youtube.com/channel/UCzXoV851O4pxDnuWQ7KGfug" target="_blank">YOUTUBE</a></li>
    </ul>

    <div class="copy-right-text">&copy; Copyright 2018 <a href="/" nav-link>Commercial Direct</a>
    </div>



  </div>
</footer>
