<main id="main">
  <div class="inner-banner">
    <div class="bg-cover">
      <img src="/images/frontend/img03.jpg" alt="image description">
    </div>
    <div class="container text-center">
      <h1>Privacy Policy</h1>
    </div>
  </div>
  <div class="about-text-holder">
    <div class="container">
      <div class="text-holder">
        <%- content.privacyPolicy || ''%>
      </div>
    </div>
  </div>
</main>
