<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Commercial Direct</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,800i,900"
        rel="stylesheet">
  <link media="all" rel="stylesheet" href="/styles/admin/main.css?x=1">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
  <script
    type="text/javascript">window.jQuery || document.write('<script src="/jsa/jquery-1.11.2.min.js" defer><\/script>')</script>
  <script type="text/javascript" src="js/jquery-ui.min.js" defer></script>
  <script type="text/javascript" src="js/jquery.main.js" defer></script>
</head>
<body>
<div id="wrapper">
  <main id="main">
    <div class="container container-win-height" style="background-image: url(/images/admin/bg01.jpg);">
      <div class="horizontal-center pull-left">

      </div>
      <div class="horizontal-center pull-right">
        <div class="vertical-middle">
          <div class="logo-holder">
            <div class="logo">
              <a href="#"><img src="/images/admin/cd-logo.png" alt="Commercial Direct"></a>
            </div>
          </div>
          <form method="POST" action="/reset-password" class="form login-form">
            <div class="form-row">
              <h2>Reset Password</h2>
            </div>
            <div class="form-row">
              <p><%= message || '' %></p>
            </div>
            <div class="form-row">
              <label for="password">New Password</label>
              <input type="password" id="password" name="password" placeholder="New password" required>
              <p><%= error.password || '' %></p>
            </div>
            <div class="form-row alter-sapce">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" id="confirm_password" name="confirmPassword" placeholder="Confirm password"
                     required>
              <p><%= error.confirmPassword || '' %></p>
            </div>
            <input type="hidden" name="token" value="<%= token %>"/>
            <div class="form-row alter-space">
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>


