<div class="page-container" id="login_page">
    <div class="login-page-wrap">
        <div class="login-form-page-wrap">
            <div class="page-side">
                <div class="page-title">Broker Portal and Calculator Login</div>
                <div class="page-sub-title">Login here if you have already registered a password and email address.</div>
                <div class="page-desc">If you have not yet registered for Portal and Calculator Access, <a href="/register">click here</a>.</div>
                <div class="page-sub-title">What's Inside</div>
                <div class="login-feature-container">
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Calculator-3.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Commercial Direct Qualifier Mortgage Calculator</div>
                            <div class="feature-info__desc">Determine rate, margin, and estimated monthly payments for your clients' deals</div>
                        </div>
                    </div>
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Tool-Box-1.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Commercial Direct Marketing Tools</div>
                            <div class="feature-info__desc">Jumpstart your marketing efforts with unbranded flyers, postcards, and communication scripts</div>
                        </div>
                    </div>
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Document-1.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Easy Access to the Forms you Need</div>
                            <div class="feature-info__desc">Become a Commercial Direct-approved broker and stay up-to-date on all application and transactional documentation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-side">
                <div class="login-form-container" id="login_form_container">
                    <div class="form-error-message">
                        <span class="message-error--validate">Form has error!</span>
                        <span class="message-error--response">Login Failed!</span>
                    </div>
                    <div class="form-input-container">
                        <label>E-mail</label>
                        <div class="input-container">
                            <input type="email" name="email">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                            <span class="input-error-invalid"> Please enter a valid email address.</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>Password</label>
                        <div class="input-container">
                            <input type="password" name="password">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label class="checkbox-container">Keep me signed in
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-button-container">
                        <span class="form-button" id="login_btn">Login</span>
                    </div>
                    <a class="forget-password-link" href="/password-reset">Forgot your password</a>
                    <div class="form-other-link-wrap">Not a member yet? <a href="/register">Register here </a></div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <div class="login-page-wrap">
        <div class="login-page-notification">
            Results of this calculator and any generated term sheets are intended for estimation only. This is not an approval or commitment to lend and only intended to provide a broad estimation. Actual payments and interest rates will be calculated by Commercial Direct after submission of a loan application and all other required documentation.
        </div>
    </div>
</div>