<div class="page-container" id="password_reset_page">
    <div class="password-reset-page-wrap">
        <%
        if(typeof params['error'] != 'undefined' && params['error']){
            %>
            <div class="password-reset-page-desc">To reset your password, please enter your email address or username below</div>
            <div class="password-reset-page-warning">The email address you provided is not associated with an account.</div>
            <form id="password_reset_form" action="/password-reset" method="post">
                <div class="form-input-container">            
                    <div class="input-container">
                        <input type="email" name="email" placeholder="Enter your username or email">
                    </div>
                    <div class="form-input-error">
                        <span class="input-error-empty"> This field is required</span>
                    </div>
                </div>
            </form>        
            <div class="password-form-btn-container">
                <span class="password-form-btn" id="password_reset_btn">Reset my password</span>
            </div>
            <%
        }
        else if(typeof params['email'] != 'undefined' && params['email'] != ''){
            %>
            <div class="password-reset-page-desc" style="display: none">We have sent you a password reset link to your e-mail. Please check your inbox.</div>
            <div class="password-reset-page-desc">We have sent your new password to <%= params['email']%>.</div>
            <%
        }
        else {
            %>
            <div class="password-reset-page-desc">To reset your password, please enter your email address or username below</div>
            <form id="password_reset_form" action="/password-reset" method="post">
                <div class="form-input-container">            
                    <div class="input-container">
                        <input type="email" name="email" placeholder="Enter your username or email">
                    </div>
                    <div class="form-input-error">
                        <span class="input-error-empty"> This field is required</span>
                    </div>
                </div>
            </form>        
            <div class="password-form-btn-container">
                <span class="password-form-btn" id="password_reset_btn">Reset my password</span>
            </div>
            <%
        }
        %>
    </div>
</div>