<div class="page-container" id="register_page">
    <div class="login-page-wrap">
        <div class="login-form-page-wrap">
            <div class="page-side">
                <div class="page-title">The Next Level with Small-Balance Commercial Mortgages Starts Here</div>
                <div class="page-sub-title">Create your free online account and get instant access to exclusive small-balance commercial resources.</div>
                <div class="page-desc">Already a member? <a href="/login">Log in here</a>.</div>
                <div class="page-desc">Get the tools you need to optimize your small-balance commercial mortgage business. Create your free account today — it takes less than a minute to register and you’ll get immediate access to the following resources:</div>
                <div class="login-feature-container">
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Calculator-3.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Commercial Direct Qualifier Mortgage Calculator</div>
                            <div class="feature-info__desc">Determine rate, margin, and estimated monthly payments for your clients' deals</div>
                        </div>
                    </div>
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Tool-Box-1.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Commercial Direct Marketing Tools</div>
                            <div class="feature-info__desc">Jumpstart your marketing efforts with unbranded flyers, postcards, and communication scripts</div>
                        </div>
                    </div>
                    <div class="feature-item">
                        <img class="feature-item__img" src="/images/frontend/Document-1.png">
                        <div class="feature-info">
                            <div class="feature-info__title">Easy Access to the Forms you Need</div>
                            <div class="feature-info__desc">Become a Commercial Direct-approved broker and stay up-to-date on all application and transactional documentation</div>
                        </div>
                    </div>
                </div>
                <div class="page-sub-title">Take advantage of these proven tools at your desk or on the go. Sign up today!</div>
            </div>
            <div class="page-side">
                <div class="login-form-container form-state--has-error1 form-state--error-validate1, form-state--error-response1" id="signup_form_container">
                    <div class="form-error-message">
                        <span class="message-error--validate">There was a problem with your submission. Errors have been highlighted below.</span>
                        <span class="message-error--response">Register Failed!</span>
                    </div>
                    <div class="form-input-container">
                        <label>First Name <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="text" name="first_name">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>Last Name <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="text" name="last_name">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>Phone <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="text" name="phone">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> Phone format: (###) ###-### <br>This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container state--error-invalid1 state--error-empty1 state--error1">
                        <label>Email <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="email" name="email">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                            <span class="input-error-invalid"> Please enter a valid email address.</span>
                            <span class="input-error-exist"> Email already exist.</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>Company Name <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="text" name="company_name">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>State <span class="form-input--required">*</span></label>
                        <div class="input-container input-container--select">
                            <select name="state">
                                <option value="" selected="selected">Select a State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">
                        <label>I am a: <span class="form-input--required">*</span></label>
                        <div class="input-container input-container--select">
                            <select name="job">
                                <option value="" selected="selected">Please Select One</option>
                                <option value="Commercial Mortgage Broker">Commercial Mortgage Broker</option>
                                <option value="Residential Mortgage Broker">Residential Mortgage Broker</option>
                                <option value="Commercial and Residential Mortgage Broker">Commercial and Residential Mortgage Broker</option>
                                <option value="CPA">CPA</option>
                                <option value="Financial Advisor">Financial Advisor</option>
                                <option value="Attorney">Attorney</option>
                                <option value="Real Estate Agent">Real Estate Agent</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <!-- <div class="form-input-container">
                        <label>User name <span class="form-input--required">*</span></label>
                        <div class="input-container">
                            <input type="text" name="user_name">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div> -->
                    <div class="form-input-container">
                        <label>Password <span class="form-input--required">*</span></label>
                        <div class="inputs-container">
                            <div class="inputs-container--col-2">
                                <div class="input-container">
                                    <input type="password" name="password">
                                </div>
                                <div class="input-below-label">Enter Password</div>
                            </div>
                            <div class="inputs-container--col-2">
                                <div class="input-container">
                                    <input type="password" name="password_confirm">
                                </div>
                                <div class="input-below-label">Confirm Password</div>
                            </div>
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    
                    <div class="form-button-container">
                        <span class="form-button" id="register_btn">Register</span>
                    </div>
                    <div class="form-other-link-container">
                        <div class="form-other-link-wrap">Already a member? <a href="/login">Login </a></div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <div class="login-page-wrap">
        <div class="login-page-notification">
            Results of this calculator and any generated term sheets are intended for estimation only. This is not an approval or commitment to lend and only intended to provide a broad estimation. Actual payments and interest rates will be calculated by Commercial Direct after submission of a loan application and all other required documentation.
        </div>
    </div>
</div>