<div class="page-container" id="password_set_page">
    <%
    if(typeof params['success'] != 'undefined' && params['success']){
        %>
        <div class="password-set-page-wrap" style="text-align: center;">
            <div class="password-reset-page-desc">Password is reset</div>
            <div class="form-other-link-wrap">You can <a href="/login">Login </a></div>
        </div>
        <%
    }
    else{
        %>
        <div class="password-set-page-wrap">
            <div class="password-reset-page-desc">To reset your password, please enter new password below</div>
                <form id="password_set_form" action="/password-set" method="post">
                    <div class="form-input-container">            
                        <div class="input-container">
                            <input type="password" name="password" placeholder="Enter your new password">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <div class="form-input-container">            
                        <div class="input-container">
                            <input type="password" name="password_confirm" placeholder="Enter your confirm password">
                        </div>
                        <div class="form-input-error">
                            <span class="input-error-empty"> This field is required</span>
                        </div>
                    </div>
                    <%
                    if(typeof params['id'] != 'undefined'){
                        %>
                        <input type="hidden" name="id" value="<%=params['id']%>">
                        <%
                    }
                    %>
                    
                </form>        
                <div class="password-form-btn-container">
                    <span class="password-form-btn" id="password_set_btn">Set Password</span>
                </div>
            </div>
        <%
    }
    %>
</div>