<div class="footer">
    <div class="footer-wrap">
        <div class="footer-col-2">
            <div class="footer-col-text">Disclaimerrrrr</div>
            <div class="footer-disclaimer_sub-text">Silver Hill Funding, LLC programs are offered to qualiﬁed commercial lending institutions and are not applicable to the general public and/or individual consumers. This information is for lending institutions only, and not intended for use by individual consumers or borrowers. Programs may be cancelled or modiﬁed at any time without prior notice. Programs may not be available in all jurisdictions. These materials are intended to provide general information to the reader. This information is made available with the understanding that Silver Hill Funding, LLC, and its subsidiaries and affiliates are not engaged in rendering legal, accounting or other professional services. We use reasonable care in  providing information but cannot guarantee accuracy or completeness. Information is provided with no warranty, express or implied, and all such warranties are expressly disclaimed. We assume no liability for any loss, damage or expense from errors or omissions in these materials, whether arising in contract, tort or otherwise.</div>
        </div>
        <div class="footer-col-4">
            <div class="footer-col-text">Contact</div>
            <div class="footer-col-content footer-col-address">
                <img class="footer-col-icon" src="/images/frontend/ic_sh_address.png">
                <div class="footer-col-info">
                    <div class="footer-col-company">Silver Hill Funding, LLC</div>
                    <div class="">4425 Ponce De Leon Blvd., 250 Ste. Coral Gables, FL 33146</div>
                </div>
            </div>
            <div class="footer-col-content footer-col-phone">
                <img class="footer-col-icon" src="/images/frontend/ic_sh_phone.png">
                <div class="footer-col-info">
                    <div class="">P: (844) 641-1035</div>
                </div>
            </div>
            <div class="footer-col-content footer-col-mail">
                <img class="footer-col-icon" src="/images/frontend/ic_sh_mail.png">
                <div class="footer-col-info">
                    <div class="">info@silverhillfunding.com</div>
                </div>
            </div>
        </div>
        <div class="footer-col-4">
            <div class="footer-col-text">Follow Us</div>
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/SilverHillFunding/" target="_bank"><img src="/images/frontend/ic_facebook.png"></a>
                <a href="https://twitter.com/silverhilllends" target="_bank"><img src="/images/frontend/ic_twitter.png"></a>
                <a href="https://www.linkedin.com/company/silver-hill-funding/" target="_bank"><img src="/images/frontend/ic_linkedin.png"></a>
            </div>
        </div>
    </div>
    
</div>