<main id="main">
  <div class="inner-banner">
    <div class="bg-cover">
      <img src="/images/frontend/img05.jpg" alt="image description">
    </div>
    <div class="container text-center">
      <h1>Commercial Loan Application
      </h1>
    </div>
  </div>
  <div class="about-text-holder">
    <div class="container">
      <h3 style="text-align: center">Thank you for submitting your loan application! A loan officer will contact you shortly.</h3>
      <a href="/learn" class="btn btn-default application">Learn More</a>
    </div>
  </div>
</main>
