<footer id="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="#"><img src="/images/frontend/CD_web-1.jpg" alt="Commercial Direct Funding"></a>
    </div>
    <span class="copy-text">&copy; Copyright 2018 <a href="#">Commercial Direct Funding</a></span>
  </div>
</footer>
