<header id="header">
  <div class="container">
    <div class="logo">
      <a href="/adminaccess"><img src="/images/frontend/CD_web-1.jpg" alt="Commercial Direct Funding"></a>
    </div>
    <a href="#" class="nav-opener"><span>menu</span></a>
    <ul class="hader-nav">
      <li><a href="/adminaccess/logout">Sign Out</a></li>
    </ul>
  </div>
</header>
